/*Selector {
    property: value;
}*/

body {
    background-image: url(DM-Wallpaper-2001-5120x2880-featureda-scaled.jpg);
    background-size: cover;
}

h2 {
    color: #22608F;
    text-align: center;
    border: 5px solid;
    cursor: pointer;
}

p {
    color: rgba(0, 0, 255, 0.5);
}

li {
    list-style: none;
    display: inline-block;
}

.boxmodel {
    border: 5px solid rgb(50, 100, 255);
    display: inline-block;
    padding: 5px 20px;
    margin: 0px 20px;
    width: 20px;
    height: 40px;
    text-align: center;
}